body {
    background-image: url(meteority.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    display: block;
    margin: auto;
    border: 5px solid rgb(240, 19, 19);
}

#playbutton {
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
    border: 5px solid rgba(224, 9, 9, 0.877);

}

#playbutton:hover {
    background-color: rgb(253, 11, 11);
}